# Copyright 2026 Google LLC.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This file acts as the central registry for a given "model product," defining references
# to all the reusable building blocks - images, components, and pipelines — that
# constitute your MLOps workflows.

# For more details on this file, please see docs/config/mdk_pipeline_config_usage.md

lite: {{ lite | lower }}

images:

  standard:
    artifact: "standard:latest"
    build_config_dir: "model_products/main_product/images/standard"

  # Uncomment if you intend to use Bring-Your-Own-Container (BYOC) - Dockerfile version
  # byoc:
  #   artifact: "byoc:latest"
  #   build_config_dir: "model_products/main_product/images/byoc"

pipelines:

  sklearn_training_pipeline:
    description: "Sample pipeline that demostrates how one might use Sklearn model in a training pipeline."
    function: pipeline
    module_path: examples/model_products/sklearn_example/pipelines/sklearn_training_pipeline/pipeline.py


components:

  log_config_to_experiment:
    description: "Logging config values to Vertex Experiments."
    function: log_config_to_experiment
    module_path: model_products/main_product/components/log_config_to_experiment/component.py
    image_artifact: "standard:latest"
  sklearn_preprocess:
    description: "Data cleaning, feature engineering."
    function: sklearn_preprocess
    module_path: examples/model_products/sklearn_example/components/sklearn_preprocess/component.py
    image_artifact: "standard:latest"
  sklearn_optimize_hyperparameters:
    description: "Hyperparameter tuning workflow"
    function: sklearn_optimize_hyperparameters
    module_path: examples/model_products/sklearn_example/components/sklearn_optimize_hyperparameters/component.py
    image_artifact: "standard:latest"
  sklearn_train:
    description: "Model training workflow"
    function: sklearn_train
    module_path: examples/model_products/sklearn_example/components/sklearn_train/component.py
    image_artifact: "standard:latest"
    # # These values below are for overriding default resources:
    # cpu: "8"
    # mem: "64G"
  sklearn_evaluate:
    description: "Model evaluation workflow"
    function: sklearn_evaluate
    module_path: examples/model_products/sklearn_example/components/sklearn_evaluate/component.py
    image_artifact: "standard:latest"
  upload_to_model_registry:
    description: "Upload a trained model to Model Registry"
    function: upload_to_model_registry
    module_path: model_products/main_product/components/upload_to_model_registry/component.py
    image_artifact: "standard:latest"

  # # Bring-Your-Own-Container (BYOC) example scenarios:
  # # BYOC Scenario 1: Running command/args with full_uri container (e.g. "us-docker.pkg.dev/vertex-ai/training/tf-cpu.2-17.py310:latest”)
  # sklearn_train:
  #   description: "Model training workflow"
  #   function: sklearn_train
  #   module_path: examples/model_products/sklearn_example/components/sklearn_train/component.py
  #   image_artifact: "us-docker.pkg.dev/vertex-ai/training/tf-cpu.2-17.py310:latest"
  #   container_specs:
  #     command:
  #     - bash
  #     - -c
  #     - echo 'hello world'
  # # BYOC Scenario 2: Running script within full_uri container
  # sklearn_train:
  #   description: "Model training workflow"
  #   function: sklearn_train
  #   module_path: examples/model_products/sklearn_example/components/sklearn_train/component.py
  #   image_artifact: "us-docker.pkg.dev/vertex-ai/training/tf-cpu.2-17.py310:latest"
  #   container_specs:
  #     script_path: src/model_workflow/demo_byoc.py
  # # BYOC Scenario 3: Running command/args with Docker container (e.g. "byoc:latest”)
  # sklearn_train:
  #   description: "Model training workflow"
  #   function: sklearn_train
  #   module_path: examples/model_products/sklearn_example/components/sklearn_train/component.py
  #   image_artifact: "byoc:latest"
  #   container_specs:
  #     command:
  #     - python
  #     - trainer.py
