# Copyright 2026 Google LLC.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

################################################################################
################################################################################
# THESE SETTINGS ARE PRE-GENERATED AND SHOULD NOT BE CHANGED.
################################################################################
################################################################################

project_id: {{project_id_stage}}
region: {{region}}
pipeline_service_account: {{pipeline_service_account_stage}}
data_bucket: {{gcs_data_bucket_stage}}
pipeline_staging_dir: {{gcs_pipeline_staging_dir_stage}}
artifact_registry_repo: {{artifact_registry_repo_stage}}
expanded_model_registry_endpoint: {{expanded_model_registry_endpoint}}
experiment_name: {{vertex_ai_experiment_name}}
deployment_environment: "stage"
